---
import { getCollection, type CollectionEntry } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
import readingTime from "reading-time";
import { Image } from "astro:assets";

// 1. Generate paths for all entries
export async function getStaticPaths() {
    const portfolioEntries = await getCollection("portfolio");
    return portfolioEntries.map((entry: CollectionEntry<"portfolio">) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}

// 2. Define exactly what the Props are
interface Props {
    entry: CollectionEntry<"portfolio">;
}

// 3. Get the specific entry from props
const { entry } = Astro.props;

// 4. Render Content
const { Content } = await entry.render();

// 5. Logic for Reading Time and Dates
const stats = readingTime(entry.body || "");
const formattedDate = entry.data.publishDate.toLocaleDateString("en-US", {
    year: "numeric",
    month: "long",
});
---

<MainLayout title={`${entry.data.title} | Portfolio`}>
    <div class="bg-base-100 px-6 py-32 lg:px-8">
        <div class="mx-auto max-w-4xl text-base/7">
            <p class="text-base/7 font-bold text-primary uppercase">
                {formattedDate}
                <span class="text-sm font-medium italic mt-4"
                    >| {stats.text}</span
                >
            </p>
            <h1
                class="mt-2 text-4xl font-semibold tracking-tight text-pretty sm:text-5xl"
            >
                {entry.data.title}
            </h1>

            <p class="mt-6 text-xl/8">
                {entry.data.intro}
            </p>
            <div class="mt-10 max-w-4xl">
                <figure class="mt-16 mb-16">
                    <Image
                        src={entry.data.image}
                        alt={entry.data.title}
                        class="w-full object-cover rounded-3xl shadow-xl"
                    />
                </figure>

                <p>
                    {entry.data.description}
                </p>
            </div>
            <div class="mt-20">
                <a href="/portfolio" class="btn btn-outline"
                    >← Back to Projects</a
                >
            </div>
        </div>
    </div>
</MainLayout>
