---
import { getCollection, type CollectionEntry } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
import { Image } from "astro:assets";

// Fetch all entries from the 'portfolio' collection
const projects: CollectionEntry<"portfolio">[] =
    await getCollection("portfolio");

// Sort by date (newest first)
const sortedProjects = projects.sort(
    (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);

// Define the date formatter
const dateFormatter = new Intl.DateTimeFormat("en-US", {
    month: "long",
    year: "numeric",
});
---

<MainLayout
    title="Portfolio"
    description="Custom-coded, high-performance websites for local businesses. No bloat, just speed."
>
    <section class="relative isolate px-6 py-24 sm:py-32 lg:px-8">
        <div
            class="absolute inset-x-0 -top-3 -z-10 transform-gpu overflow-hidden px-36 blur-3xl"
            aria-hidden="true"
        >
        </div>
        <div class="mx-auto max-w-4xl">
            <span
                class="rounded-full outline-primary outline-2 px-3 py-1 text-base/6 font-semibold text-primary"
                >Portfolio
            </span>
            <h1
                class="mt-6 text-4xl font-semibold tracking-tight text-pretty sm:text-5xl"
            >
                View Our Latest Work
            </h1>
        </div>
        <p
            class="mx-auto mt-6 max-w-4xl text-lg font-medium text-pretty sm:text-xl/8"
        >
            Proven results, powered by clean code. Browse our latest projects to
            see how we combine modern aesthetics with industry-leading
            performance to help local businesses dominate their digital space.
        </p>

        <div
            class="grid grid-cols-1 md:grid-cols-2 gap-8 mx-auto mt-16 max-w-lg items-center gap-y-6 sm:mt-20 sm:gap-y-0 lg:max-w-4xl lg:grid-cols-2"
        >
            {
                sortedProjects.map((project) => (
                    <article class="flex flex-col items-start justify-between">
                        <div class="relative w-full">
                            <a href={`/portfolio/${project.slug}`}>
                                <div class="mockup-window border border-base-300 w-full">
                                    <div class="grid place-content-center border-t border-base-300 ">
                                        <Image
                                            width={500}
                                            height={400}
                                            decoding="async"
                                            loading="eager"
                                            fetchpriority="high"
                                            src={project.data.image}
                                            alt={project.data.title}
                                            class="aspect-video w-full  object-cover sm:aspect-2/1 lg:aspect-3/2"
                                        />
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="max-w-xl">
                            <div class="mt-4 flex items-center gap-x-4 text-xs">
                                <time
                                    datetime={project.data.publishDate.toLocaleDateString()}
                                >
                                    {dateFormatter.format(
                                        project.data.publishDate,
                                    )}
                                </time>
                            </div>
                            <div class="group relative">
                                <h2 class="mt-3 text-lg/6 font-semibold">
                                    <a href={`/portfolio/${project.slug}`}>
                                        <span class="inset-0" />
                                        {project.data.title}
                                    </a>
                                </h2>
                                <p class="mt-3 line-clamp-3 text-sm/6 ">
                                    {project.data.description}
                                </p>
                            </div>
                        </div>
                    </article>
                ))
            }
        </div>
    </section>
</MainLayout>
